	@charset "UTF-8";
textarea {
			width:3000x;
			border:2px solid #aaa;
			border-radius:4px;
			margin: 8px 0;
			outline:none;
			padding:8px;
			box-sizing: border-box;
			transition: .3s;
		}
textarea:focus {
			border-color:dodgerblue;
			box-shadow: 0 0 8px 0 dodgerblue;
		}
li {
	list-style: none;
	margin:10px;
}
p {
	margin:10px;
}
.comment_box {
	display: flex;
}
.comment_btn {
	margin-top: 105px;
	margin-left: 5px;
}
.commentList {
	margin-left: 190px;
	margin-top: 15px;
}
.comment_content {
	width:950px;
	margin-left: 190px;
	 margin-top:10px;
}