<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.mapper.BoardMapper">
	<!-- 게시판 리스트보기 -->
	<select id="boardList" resultType="com.simpleplan.boot.domain.BoardVO">
		select * from board	
	</select>	
	
	<!--게시판 상세보기  -->
	<select id="boardDeatail" parameterType="int" resultType="com.simpleplan.boot.domain.BoardVO">
	<![CDATA[
		select * from board where board_bno = #{board_bno}
	]]>
	</select>
	
	<!--게시판 글 수정  -->
	<update id="boardUpdate" parameterType="com.simpleplan.boot.domain.BoardVO">
		update board
		set
		<if test="board_title != null">
		board_title = #{board_title}
		</if>
		<if test="board_title != null and board_content !=null">,</if>
		<if test="board_content != null">
			board_content = #{board_content}
		</if>
		where board_bno = #{board_bno}
	</update>
	
	<!-- 게시판 삽입 -->
	<insert id="boardInsert" parameterType="com.simpleplan.boot.domain.BoardVO">
	<![CDATA[
		INSERT INTO board (
			board_writer
			,board_title
			,board_content
		) VALUES (
			#{board_writer}
			,#{board_title}
			,#{board_content}
		)	
	]]>
	</insert>
	
	<!-- 게시판 삭제 -->
	<delete id="boardDelete" parameterType="int">
	<![CDATA[
		delete from board where board_bno = #{board_bno}
	]]>
	
	</delete>
</mapper>